<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello Buyer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="flatly"> <!-- Add the 'flatly' class to apply Bootswatch Flatly styles -->
    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">VCD Buyer</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container text-center mx-auto"> <!-- Center-align the form -->
        <form action="/buyer_search" method="get">
            <div class="d-inline-block">
                <label for="country" class="form-label">Country of Origin:</label>
                <select class="form-select" id="country_origin">
                    <option>Russia</option>
                    <option>Indonessia</option>
                    <option>Australia</option>
                </select>
            </div>

            <div class="d-inline-block">
                <label for="Delivery Port" class="form-label mt-4">Delivery Port</label>
                <select class="form-select" id="delivery_port">
                    <option>Hong Kong</option>
                    <option>Mumbai</option>
                    <option>San Fransico</option>
                    <option>Keelung</option>
                    <option>London</option>
                </select>
            </div>

            <div class="d-inline-block form-group">
                <label for ="select Unit" class="form-label mt-4">Select Unit</label>
                <select class="form-select" id="select_unit">
                    <option>GCV</option>
                    <option>GAR</option>
                
                <label for="gcv" class="form-label">Value:</label>
                <input type="text" id="gcv" name="gcv" class="form-control col-md-6" placeholder="Enter GCV/GAR value">
            </div>

            <div class="d-inline-block">
                <label for="max_tm" class="form-label">Max TM:</label>
                <input type="range" id="max_tm" name="max_tm" class="form-range col-md-1" min="10" max="50" step="1" oninput="updateOutput()">
                <output for="max_tm" id="max_tm_output">25</output>
            </div>

            <div class="d-inline-block">
                <label for="total_quantity" class="form-label">Total Quantity (in MT units):</label>
                <input type="text" id="total_quantity" name="total_quantity" class="form-control col-md-6" placeholder="10,000...">
            </div>

            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Country</th>
                    <th>Mine Name</th>
                    <th>GCV ADB</th>
                    <th>GAR</th>
                    <th>TM ARB</th>
                    <th>Loading Port</th>
                    <th>Vessel Type</th>
                    <th>Loading Laycan</th>
                    <th>COA</th>
                    <th>Price USD</th>
                    <th>Supplier</th>
                    <th>Loading Rate</th>
                    <th>Contact PIC</th>
                    <th>Potential Buyer</th>
                    <th>Coal Type</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row.country }}</td>
                    <td>{{ row.mine_name }}</td>
                    <td>{{ row.gcv_adb }}</td>
                    <td>{{ row.gar }}</td>
                    <td>{{ row.tm_arb }}</td>
                    <td>{{ row.loading_port }}</td>
                    <td>{{ row.vessel_type }}</td>
                    <td>{{ row.loading_laycan }}</td>
                    <td><a href="{{ url_for('download_coa', coa_id=row._id) }}">download</a></td>
                    <td>{{ row.price_usd }}</td>
                    <td>{{ row.supplier }}</td>
                    <td>{{ row.loading_rate }}</td>
                    <td>{{ row.contact_pic }}</td>
                    <td>{{ row.potential_buyer }}</td>
                    <td>{{ row.coal_type }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Include Bootstrap JS and Popper.js if not already included -->
    <script>
        function updateOutput() {
            var slider = document.getElementById("max_tm");
            var output = document.getElementById("max_tm_output");
            output.innerHTML = slider.value;
        }
    </script>
</body>
</html>
