<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coal Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">VCD Admin</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home_full_view') }}">Advance View</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('list_users') }}">User Database</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="container">
        <h1>Coal Database</h1>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Country</th>
                    <th>Mine Name</th>
                    <th>GCV ADB</th>
                    <th>GAR</th>
                    <th>TM ARB</th>
                    <th>Loading Port</th>
                    <th>Vessel Type</th>
                    <th>Loading Laycan</th>
                    <th>COA</th>
                    <th>Price USD</th>
                    <th>Supplier</th>
                    <th>Loading Rate</th>
                    <th>Contact PIC</th>
                    <th>Potential Buyer</th>
                    <th>Coal Type</th>
                </tr>
            </thead>
            <tbody>
              {% for row in data %}
                  <tr>
                      <td>{{ row.country }}</td>
                      <td>{{ row.mine_name }}</td>
                      <td>{{ row.gcv_adb }}</td>
                      <td>{{ row.gar }}</td>
                      <td>{{ row.tm_arb }}</td>
                      <td>{{ row.loading_port }}</td>
                      <td>{{ row.vessel_type }}</td>
                      <td>{{ row.loading_laycan }}</td>
                      <td><a href="{{ url_for('download_coa', coa_id=row._id) }}">download</a></td>
                      <td>{{ row.price_usd }}</td>
                      <td>{{ row.supplier }}</td>
                      <td>{{ row.loading_rate }}</td>
                      <td>{{ row.contact_pic }}</td>
                      <td>{{ row.potential_buyer }}</td>
                      <td>{{ row.coal_type }}</td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
    </div>
</body>
</html>
